body{
    background-color: #31525B;
    text-align: center;
    color: whitesmoke;
    font-size: large;
}

table{
    text-align: center;
    border: 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}

button{
    width: 250px;
    border: 2px solid #FFA101;
    font-weight: bold;
    border-radius: 26px;
    background-color: #31525B;
    color: #FFA101;
    height: 50px;
    margin-top: 20px;
    box-shadow: 25px;
}

button:hover {
    background-color: #FFA101;
    color: #31525B ;
    border: 3px solid #31525B;
    transform: rotate(5deg);
    cursor: pointer;
}
