body
{
    background-color: whitesmoke;
    text-align: center;
}

h1
{
    color: #31525B;
}

button{
    width: 250px;
    border: 2px solid #ffa101;
    font-weight: bold;
    border-radius: 26px;
    background-color: #31525B;
    color: #ffa101;
    height: 50px;
    margin-top: 20px;
    box-shadow: 25px;
}

button:hover {
    background-color: #31525B;
    color: #ffa101;
    border: 3px solid #ffa101;
    transform: rotate(5deg);
    cursor: pointer;
}

input{
    border: 2px solid #FFA101;
    background-color: #31525B;
    border-radius: 26px;
    text-align: center;
    padding: 15px 90px;
    color: whitesmoke;
}