body{
    text-align: center;
    background-color: whitesmoke;
    font-weight: bolder;
    color: #31525B
}

button{
    width: 250px;
    border: 2px solid #ffa101;
    font-weight: bold;
    border-radius: 26px;
    background-color: #31525B;
    color: #ffa101;
    height: 50px;
    margin-top: 20px;
    box-shadow: 25px;
}

button:hover {
    background-color: #31525B;
    color: #ffa101;
    border: 3px solid #ffa101;
    transform: rotate(5deg);
    cursor: pointer;
}

div{
    text-align: center;
}
table{
    text-align: center;
}